# --- JOB OFFERS APPLICATION CONFIGURATION ---
# External port where the application will be accessible (e.g., 8005)
APP_EXTERNAL_PORT=8005

# JWT Secret (generate a unique string of characters for each application)
JWT_SECRET=your_super_secret_safe_key_here_min_32_chars

# --- MONGO DATABASE ---
MONGO_USER=admin
MONGO_PASSWORD=admin_password
MONGO_DB_NAME=joboffers
MONGO_HOST=mongo
MONGO_PORT=27017

# --- REDIS ---
REDIS_HOST=redis
REDIS_PORT=6379